{
   {{ with secret "secret/data/checkout-team/uat" }}
   "Organization": "{{ .Data.data.organization }}",
   "ID": "{{ .Data.data.customer_id }}",
   "Contact": "{{ .Data.data.contact_email }}",
   "zipcode": "{{ .Data.data.zip_code }}"
   {{ end }}
}
